<!DOCTYPE html>

<html>
<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<style>

body
{
    background-image: url('https://i.imgur.com/S1DAySp.jpg');
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

</style>
</head>
<body>
 
  <h2>A profile has been created with name:   {{query_result.name}} </h2>
  <h1>Click the button below to see all profiles</h1>
  <form action="{% url 'display' %}">
    <input type="submit" class="btn btn-primary" value ="Details">
  </form>
  
  
</body>


</html>
